 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Quản lý sản phẩm</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Sản phẩm</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">

        <button class="btn btn-success btn-sm" (click)="create()">Thêm sản phẩm</button>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
        </div>
      </div>


      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr >
                  <th style=" width: 1%;">
                    STT
                  </th>
                  <th style="text-align: center;">
                        Tên sản phẩm
                    </th>
                    <th style="text-align: center;">
                      Ảnh
                    </th>
                    <th style="text-align: center;">
                      Màu sắc
                    </th>
                    <th style="text-align: center;">
                      Kích thước
                    </th>
                    <th style="text-align: center; ">
                        Giá
                    </th>
                    <th style="text-align: center;">
                        Status
                    </th>
                    <th style="text-align: center;"> 
                      Thao tác
                    </th>
                </tr>
            </thead>
            <tbody>


              <ng-container *ngFor="let item of products; let i = index">

                <tr>
                    <td>
                       {{ i +  1}}
                    </td>
                    <td>
                       {{item.name_pro}}
                    </td>
                    <td>
                      <img src="assets/images/product/{{item.image_pro}}" alt="" height="100px" Width="100px">
                    </td>
                    <td>
                      {{item.color}}
                    </td>
                    <td>
                      {{item.size}}
                    </td>
                    <td>
                     {{item.unit_price |number }} VNĐ
                    </td>
                    <td>
                     <div *ngIf = "item.status == 1; else title "> 
                       <span>Hiện</span>
                      
                     </div> 
                     <ng-template  #title> Ẩn</ng-template>
                  </td>
                    <td class="project-actions text-left" >
                        <button class="btn btn-info btn-sm" style="text-align: right;"  >
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </button>
                        <button class="btn btn-danger btn-sm" style="text-align: right;" (click)="delete(item.product_id)">
                            <i class="fas fa-trash">
                            </i>
                           Delete
                        </button>
                    </td>
                </tr>
                </ng-container>


            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
   <!-- /.modal -->

   <div class="modal fade" id="formModal">
      <div class="modal-dialog modal-lg">
     <form [formGroup]="formData" (ngSubmit)="onSubmitCreate(formData.value)">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Thêm sản phẩm</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
              
            <div class="form-group">
             <label for=""> Tên sản phẩm *</label>
             <input type="text" formControlName="name_pro" class="form-control" >
           </div>
           <div class="row col-md-12">
              <div class="form-group col-md-6">
             <label for=""> Số lượng *</label>
             <input type="number" formControlName="quantity" class="form-control" >
           </div>
           

            <div class="form-group col-md-6">
             <label for=""> Giá *</label>
             <input type="number" formControlName="unit_price" class="form-control" >
           </div>

            <div class="form-group col-md-6">
             <label for=""> Giá khuyến mại *</label>
             <input type="number" formControlName="promotion_price" class="form-control" >
           </div>
           <div class="form-group col-md-6">
            <label for=""> Kích thước *</label>
            <input type="number" formControlName="size" class="form-control" >
          </div>
           </div>



            <div class="form-group">
             <label for=""> Mô tả *</label>
              <textarea  formControlName="description" class="form-control" cols="6" rows="5"></textarea>
           </div>
           <div class="form-group">
            <label for=""> Màu sắc*</label>
             <input type="text"  formControlName="color" class="form-control" >
          </div>

            <!-- <div class="form-group">
             <label for=""> Chi tiết *</label>
             <textarea  formControlName="detail" class="form-control" cols="6" rows="5"></textarea>
           </div>  -->

            <div class="form-group">
             <label for="">Ảnh *</label>
             <input type="file" formControlName="image_pro" class="form-control" >
           </div>

            <div class="form-group">
             <label for=""> Danh mục*</label>
           <select formControlName="id_type" class="form-control">
             <option  value="1">Đồng Hồ Nam</option>
             <option  selected value="2">Đồng Hồ Nữ</option>
           </select>
           </div>
             <div class="form-group">
             <label for="">Trạng thái *</label>
           <select formControlName="status" class="form-control">
             <option value=0 >Ẩn </option>
             <option selected  value=1>Hiện </option>
           </select>
           </div>


          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Quay lại</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>


        </div>



       </form>
       
      </div>

     
    </div>
    <!-- /.modal -->
    <!-- <div class="modal fade" id="updateModal">
      <div class="modal-dialog modal-lg">
     <form [formGroup]="formData" (ngSubmit)="updateProduct(product.id,formData.value)">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Thêm sản phẩm</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
             <label for=""> Tên sản phẩm *</label>
             <input type="text" formControlName="name" [value]="product.name" class="form-control" >
           </div>
           <div class="row col-md-12">
              <div class="form-group col-md-4">
             <label for=""> Số lượng *</label>
             <input type="number" formControlName="quantity" [value]="product.quantity" class="form-control" >
           </div>
            <div class="form-group col-md-4">
             <label for=""> Giá *</label>
          <input type="number" formControlName="price" [value]="product.price" class="form-control" >
           </div>
            <div class="form-group col-md-4">
             <label for=""> Giá khuyến mại *</label>
             <input type="number" formControlName="promotion_price" [value]="promotion_price" class="form-control" >
           </div>
           </div>
            <div class="form-group">
             <label for=""> Mô tả *</label>
              <textarea  formControlName="description" class="form-control" cols="6" rows="5">{{ product.description }}</textarea>
           </div>
            <div class="form-group">
             <label for=""> Chi tiết *</label>
             <textarea  formControlName="detail" class="form-control" cols="6" rows="5"></textarea>
             {{ product.detail }}
           </div>
            <div class="form-group">
             <label for="">Ảnh *</label>
             <input type="file" formControlName="image" class="form-control" >
           </div>
            <div class="form-group">
             <label for=""> Danh mục*</label>
           <select formControlName="category_id" class="form-control">
             <option selected value="93b25b4e-7e6f-4acb-aa26-7c0e456ff94d">Iphone</option>
             <option value="2">SamSung </option>
           </select>
           </div>
             <div class="form-group">
             <label for="">Trạng thái *</label>
           <select formControlName="status" class="form-control">
             <option value=0 >Ẩn </option>
             <option selected  value=1>Hiện </option>
           </select>
           </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
       </form>
    </div>
    </div> -->